.custom-hr {
    display: none;
}

.nav-link-active {
    font-weight: 900;
}

@media (min-width: 768px) {
    .custom-nav {
        padding-left: 10%;
        padding-right: 10%;
    }

    .custom-hr {
        display: block;
        padding: 0;
        margin: 0;
    }
    
}